<?xml version="1.0" encoding="utf-8" ?>
<Configuration>
    <ActiveReportsConfig>
        <CustomReportItems>
            <RuntimeComponents>
                <add name="Calendar"
                 type="ActiveReports.Calendar.Components.Calendar.CalendarDataRegion, ActiveReports.Calendar.Component" />
            </RuntimeComponents>
        </CustomReportItems>
        <Settings>
            <add key="ScriptExecutionPolicy" value="Disabled" />
        </Settings>
    </ActiveReportsConfig>
    <ActiveReportsConfig.Desktop>
        <CustomReportItems>
            <DesignComponents>
                <add name="Calendar"
                 type="ActiveReports.Calendar.Design.Designers.CalendarDesigner, ActiveReports.Calendar.Designer"
                 toolboxIcon="ActiveReports.Calendar.Resources.CalendarToolboxIcon.bmp" />
            </DesignComponents>
        </CustomReportItems>
        <Settings>
            <add key="Viewer.EnableFontSmoothing" value="false" />
        </Settings>
    </ActiveReportsConfig.Desktop>
</Configuration>