<?xml version="1.0" encoding="utf-8" ?>
<Configuration>
    <ActiveReportsConfig>
        <MapTileProviders>
            <clear />
            <add name="GoogleMaps" displayName="GoogleMaps-Sample" type="ActiveReports.Samples.CustomTileProviders.GoogleMapsTileProvider, ActiveReports.Samples.CustomTileProviders"/>
          	<add name="OpenStreetMap" displayName="OpenStreetMap-Sample" type="ActiveReports.Samples.CustomTileProviders.OpenStreetMapTileProvider, ActiveReports.Samples.CustomTileProviders"/>          	
            <add name="MapQuest-Sample" displayName="MapQuest-Sample" type="ActiveReports.Samples.CustomTileProviders.MapQuestTileProvider, ActiveReports.Samples.CustomTileProviders">
                <Settings>
                    <add key="ApiKey" value="Fmjtd%7Cluur21ua2l%2C2x%3Do5-90t5h6" />
                    <add key="Timeout" value="3000" />
                </Settings>
            </add>
        </MapTileProviders>
        <Settings>
            <add key="ScriptExecutionPolicy" value="Disabled" />
        </Settings>
    </ActiveReportsConfig>
    <ActiveReportsConfig.Desktop>
        <Settings>
            <add key="Viewer.EnableFontSmoothing" value="false" />
        </Settings>
    </ActiveReportsConfig.Desktop>
</Configuration>