<?xml version="1.0" encoding="utf-8" ?>
<Configuration>
    <ActiveReportsConfig>
        <Settings>
            <add key="ScriptExecutionPolicy" value="Disabled" />
        </Settings>
    </ActiveReportsConfig>
    <ActiveReportsConfig.Desktop>
        <Settings>
            <add key="Viewer.EnableFontSmoothing" value="false" />
        </Settings>
    </ActiveReportsConfig.Desktop>
</Configuration>