<?xml version="1.0" encoding="utf-8" ?>
<Configuration>
    <ActiveReportsConfig>
        <DataProviders>
            <add name="SQLITE"
             type="System.Data.SQLite.SQLiteFactory, System.Data.SQLite"
             displayName="SQLite Provider" />
        </DataProviders>
        <Settings>
            <add key="ScriptExecutionPolicy" value="Enabled" />
        </Settings>
    </ActiveReportsConfig>
    <ActiveReportsConfig.Desktop>
        <Settings>
            <add key="Viewer.EnableFontSmoothing" value="false" />
        </Settings>
    </ActiveReportsConfig.Desktop>
</Configuration>